.portfolio {
  &-content {
    padding: 20px;
    width: 100%;

    &-filter {
      display: inline-block;
      margin: 0 auto;
      border-radius: 25px;
      border: 1px solid var(--selected-theme-main-color);
      line-height: 0;
      text-align: center;

      li {
        font-family: var(--font-base);
        font-size: 16px;
        display: inline-block;
        cursor: pointer;
        color: var(--selected-theme-main-color);
        text-transform: uppercase;
        padding: 20px;
        transition: all 0.4s ease;

        &.active {
          background: var(--selected-theme-main-color);
          color: var(--selected-theme-text-color);
          font-weight: 700;
          border-radius: 26px;
        }
      }
    }

    &-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 10px;

      .cards-item {
        height: 302px;
        cursor: pointer;
        position: relative;

        &:hover .overlay {
          opacity: 0.8;
          border-radius: 5px;
        }

        &-img-wrapper {
          height: 100%;

          a {
            height: 100%;
            img {
              height: inherit;
              object-fit: cover;
              width: 100%;
              border-radius: 5px;
            }
          }
        }

        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: 0.5s ease;
          background-color: var(--selected-theme-main-color);

          div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            p {
              margin: 0;
              text-transform: capitalize;
              font-weight: 500;
              font-size: 3rem;
              position: relative;
              overflow: hidden;
              animation: typingEffect 1s steps(30, end);
              white-space: nowrap;
            }

            button {
              cursor: pointer;
              margin-top: 15px;
              padding: 10px 70px;
              font-size: 2rem;
              background: transparent;
              text-transform: capitalize;
              border: 2px solid var(--selected-theme-background-color);
              border-radius: 5px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

@keyframes typingEffect {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@media only screen and (max-width:480px) {
  .portfolio-content-filter > li {
    font-size: 11px;
  }

  
}

@media only screen and (min-width:481px) and (max-width:768px) {
  .portfolio-content-filter > li {
    font-size: 14px;
  }

  .cards-item .overlay div p { 
    font-size: 2.5rem;
  }
}
