.contact {
  &-content {
    padding: 20px;

    .header-text {
      font-family: var(--font-base);
      display: inline-block;
      color: var(--selected-theme-sub-text-color);
      font-size: 30px;
      font-weight: 700;
      line-height: 1rem;
      letter-spacing: 0.5px;
      position: relative;
      text-transform: capitalize;
      padding: 10px 5px;
      border-bottom: 2px solid var(--selected-theme-main-color);
    }

    .header-text::before,
    .header-text::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 5px;
      background-color: var(--selected-theme-main-color);
      bottom: 0;
    }

    .header-text::before {
      left: 0;
    }

    .header-text::after {
      right: 0;
    }
  }

  &-form {
    margin-top: 40px;

    &-controlsWrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      margin-bottom: 30px;

      div {
        position: relative;
        .inputName,
        .inputEmail,
        .inputDescription {
          font-family: var(--font-base);
          font-weight: 700;
          width: 100%;
          border: 2px solid var(--selected-theme-main-color);
          padding: 15px 10px;
          position: relative;
          z-index: 1;
          background: transparent;
          color: var(--selected-theme-main-color);
          border-radius: 10px;
        }

        .nameLbl,
        .emailLbl,
        .descriptionLbl {
          position: absolute;
          font-weight: 500;
          top: 7px;
          left: 12px;
          z-index: 0;
          color: var(--selected-theme-main-color);
          font-size: 16px;
          text-transform: capitalize;
          transition: all 0.5s ease;
        }

        .inputName:focus,
        .inputEmail:focus,
        .inputDescription:focus {
          outline: none;
        }

        .inputName:focus + .nameLbl,
        .inputEmail:focus + .emailLbl,
        .inputDescription:focus + .descriptionLbl {
          font-size: 18px;
          top: -25px;
          left: 0px;
          transition: all 0.5s ease;
        }
      }
    }

    .btnSubmit {
      cursor: pointer;
      padding: 10px 70px;
      background: transparent;
      color: var(--selected-theme-main-color);
      border: 2px solid var(--selected-theme-main-color);
      border-radius: 5px;
      font-size: 2rem;
      font-weight: 700;
      text-transform: capitalize;
      outline: none;
      transition: all 0.5s ease;
    }

    .btnSubmit:hover {
      color: #000;
      background-color: var(--selected-theme-main-color);
    }
  }
}

@media only screen and (max-width: 768px) {
  .contact-form {
    text-align: center;
    &-controlsWrapper {
      grid-template-columns: repeat(1, 1fr);
      gap: 45px;
    }
  }
}
