/* Global CSS */
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
  --selected-theme-background-color: var(--white-theme-background-color);
  --selected-theme-main-color: var(--white-theme-main-color);
  --selected-theme-sub-text-color: var(--white-theme-sub-text-color);
  --selected-theme-nav-background-color: var(
    --white-theme-nav-background-color
  );

  /* Primary Color - White */
  --white-theme-background-color: #242423;
  --white-theme-main-color: #f4f1de;
  --white-theme-sub-text-color: #bfc0c0;
  --white-theme-nav-background-color: #181818;

  --font-base: "DM Sans", sans-serif;
  --font-mono: "DM mono", monospace;
  --font-special: "Inter", sans-serif;

  /* Color - Yellow */
  --yellow-theme-background-color: #242423; /* #1d1d1d */
  --yellow-theme-main-color: #f5cb5c; /* #ffdd40 #f5cb5c */
  --yellow-theme-sub-text-color: #e8eddf; /* #ffffff */
  --yellow-theme-nav-background-color: #181818; /* #181818 */

  /* Secondary Color - Red */
  --red-theme-background-color: #242423;
  --red-theme-main-color: #ef233c;
  --red-theme-sub-text-color: #e8eddf;
  --red-theme-nav-background-color: #181818;

  /* Secondary Color - Green */
  --green-theme-background-color: #242423;
  --green-theme-main-color: #6ac045;
  --green-theme-sub-text-color: #e8eddf;
  --green-theme-nav-background-color: #181818;

  /* Secondary Color - Blue */
  --blue-theme-background-color: #242423;
  --blue-theme-main-color: #5078ff;
  --blue-theme-sub-text-color: #e8eddf;
  --blue-theme-nav-background-color: #181818;
}

/* reset CSS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-special);
}

html {
  font-size: 62.5%;
  height: 100%;
}

a {
  all: unset;
}

body {
  background: var(--selected-theme-background-color);
  height: 100%;
}

/* public/html/ id="root" */
#root {
  height: 100%;
}
