/* Global CSS */
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
  --selected-theme-background-color: var(--yellow-theme-background-color);
  --selected-theme-main-color: var(--yellow-theme-main-color);
  --selected-theme-sub-text-color: var(--yellow-theme-sub-text-color);
  --selected-theme-nav-background-color: var(
    --yellow-theme-nav-background-color
  );

  /* Primary Color - Yellow */
  --yellow-theme-background-color: #242423; /* #1d1d1d */
  --yellow-theme-main-color: #f5cb5c; /* #ffdd40 */
  --yellow-theme-sub-text-color: #e8eddf; /* #ffffff */
  --yellow-theme-nav-background-color: #181818; /* #181818 */

  --font-base: "DM Sans", sans-serif;
}

/* reset CSS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: var(--selected-theme-background-color);
  height: 100%;
}

/* public/html/ id="root" */
#root {
  height: 100%;
}
